* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #4aaaa5;
  margin: 0 auto;
  font-family: 'Georgia',
  Times,
  Times New Roman,
  serif;
}

header {
  background: white;
  margin-top: 0%;
  width: 100%;
  margin: 0 auto;
}



h1 {
  

}